<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<title><%= title %></title>
<meta name="author" content=<%= author %>>
<meta name="description" content=<%= description %>>
<meta name="keywords" content=<%= keywords %>>

<!-- Linkedin Share Button -->

<meta property="og:type" content="website">
<meta property='og:title' content=<%= title %>/>
<meta property='og:image' content=<%= `https://bootcamp2faang.herokuapp.com/assets/images/${page}.${image}` %>/>
<meta property='og:description' content=<%= description %>/>
<meta property='og:url' content=<%= 'www.bootcamp2faang.com/'+ page %>/>

 
<!-- TWITTER CARD -->
    
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@BootcampToFAANG">
<meta name="twitter:creator" content="@ShawnBasquiat">
<meta name="twitter:title" content=<%= title %>>
<meta name="twitter:description" content=<%= description %>>
<meta name="twitter:image" content=<%= `https://bootcamp2faang.herokuapp.com/assets/images/${page}.${image}` %>>

<!-- GOOGLE+ SEARCH CARD -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "url": "<%- 'www.bootcamp2faang.com/'+ page %>",
      "image": "<%- `https://bootcamp2faang.herokuapp.com/assets/images/${page}.${image}` %>",
      "headline": "<%- title %>"
      "mainEntityOfPage": {
        "@type": "WebPage",
        "lastReviewed": "2022-07-02T14:20:00-05:00"
      },
      "author":{
      "@type": "Person",
      "name": "Shawn Charles",
      "jobTitle":"Software Engineer",
      "hasOccupation": {
      "@type": "Occupation",
      "name": "Software Engineer",
      "description": "Creates systems by designing, developing, and installing software solutions",
      "estimatedSalary": [
        {
          "@type": "MonetaryAmountDistribution",
          "name": "base",
          "currency": "USD",
          "duration": "P1Y",
          "percentile10": "100000.5",
          "percentile25": "115000",
          "median": "130000.28",
          "percentile75": "140000",
          "percentile90": "160000"
        }
      ],
      "mainEntityOfPage": {
        "@type": "WebPage",
        "lastReviewed": "2022-07-02T14:20:00-05:00"
      },
      "occupationLocation": [
        {
          "@type": "City",
          "name": "Boston"
        }
      ]
      },
      "image": "https://shawncharles.com/images/Headshot2.png",
      "url": "https://shawncharles.com/",
      "description": "Need help with your website, or Need a Web Developer or Software Engineer? Get in Touch Now!",
      "sameAs": [
      "https://linkedin.com/in/shawnxcharles",
      "https://twitter.com/ShawnBasquiat",
      "https://github.com/CharlesCreativeContent"]
      },
      "description": "<%- description %>",
      "sameAs": "https://twitter.com/BootcampToFAANG"
    }

<!-- FAVICON FILES -->
<link href="assets/images/icons/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="assets/images/icons/apple-touch-icon-120-precomposed.png" rel="apple-touch-icon" sizes="120x120">
<link href="assets/images/icons/apple-touch-icon-76-precomposed.png" rel="apple-touch-icon" sizes="76x76">
<link href="assets/images/icons/favicon.png" rel="shortcut icon">

<script src="https://kit.fontawesome.com/170c91c28b.js" crossorigin="anonymous"></script>

<!-- GOOGLE WEB FONT -->
<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet">

<!-- CSS FILES -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/fonts/iconfont.css">
<link rel="stylesheet" href="assets/css/swiper.min.css">
<link rel="stylesheet" href="assets/css/venobox.css">
<link rel="stylesheet" href="assets/css/animate.css">
<link rel="stylesheet" href="assets/css/select2.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<link rel="stylesheet" href="assets/css/color-1.css">
</head>
<body>
<div id="dtr-wrapper" class="clearfix">

    <!-- Header
============================================= -->
    <header id="dtr-header-global" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark dtr-menu">
            <div class="container">

                <!-- light logo -->
                <a class="navbar-brand logo-light" href="#home"><img src="assets/images/logo.png" style="width: 50vw;" alt="logo"></a>
                <!-- dark logo -->
                <a class="navbar-brand logo-dark" href="#home"><img src="assets/images/logo-sticky.png" alt="logo" style="width: 50vw;"></a>

                <a class="navbar-brand logo-light" href="#blog" style="color: white">Blog</a>
                <a class="navbar-brand logo-light" href="https://shawncharles.com/medium"> <i class="fab fa-medium" style="color: white"></i> </a>
                <a class="navbar-brand logo-light" href="https://shawncharles.com/hashnode"> <i class="fab fa-hubspot" style="color: white"></i> </a>
                <a class="navbar-brand logo-light" href="https://shawncharles.com/blogger"> <i class="fab fa-blogger" style="color: white"></i> </a>

                <a class="navbar-brand logo-dark" href="#blog">Blog</a>
                <a class="navbar-brand logo-dark" href="https://shawncharles.com/medium"> <i class="fab fa-medium"></i> </a>
                <a class="navbar-brand logo-dark" href="https://shawncharles.com/hashnode"> <i class="fab fa-hubspot" ></i> </a>
                <a class="navbar-brand logo-dark" href="https://shawncharles.com/blogger"> <i class="fab fa-blogger"></i> </a>

            </div>
        </nav>
    </header>
    <!-- header ends
================================================== -->

    <!-- Page Title
============================================= -->
    <div class="dtr-page-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="dtr-entry-title color-white wow fadeInUp"><%= title %></h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Title ends
============================================= -->

    <!-- == content section starts == -->
    <div id="dtr-main-content">
        <div class="container">
            <div class="dtr-page-with-sidebar dtr-has-right-sidebar">

                <!-- ========== page main content area starts ========== -->
                <div class="dtr-main page-pt page-pb">
                    <div class="single-post">

                        <!-- image -->
                        <div class="single-img"> <img src=<%= `assets/images/${page}.${image}` %> alt="image"> </div>

                        <!-- meta-->
                        <ul class="entry-meta single-meta clearfix">
                            <li class="meta-date"> <%= date %></li>
                            <li class="meta-author"><a href=<%= authorLink %> ><%= author %></a></li>
                        </ul>

                        <!-- content text starts -->
                        <div class="single-post-content">


                          <%= content %>


                        </div>
                        <!-- content text ends -->

                        <!-- post footer starts -->
                        <div class="row dtr-mt-4">
                            <div class="col-12 text-left"><span class="meta-title">Share :</span>
                                <ul class="dtr-social dtr-share dtr-social-list dtr-social-list-default text-right">
                                    <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="dtr-twitter" target="_blank" title="twitter"></a></li>
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="dtr-facebook" target="_blank" title="facebook"></a></li>
                                    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http://bootcamp2faang.com" class="dtr-linkedin" target="_blank" title="linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- post footer ends -->

                    </div>
                </div>
                <!-- ========== page main content area ends ========== -->

            </div>
        </div>

        <!-- footer starts
================================================== -->
        <footer id="dtr-footer-global" class="bg-blue color-white">
            <div class="container">

                <!-- copyright row starts -->
                <div class="row dtr-mt-0">
                    <div class="col-12 col-md-6">CharlesCreativeContent &copy; 2022</div>
                    <div class="col-12 col-md-6">
                        <ul class="dtr-social-list text-right color-muted-white">
                        <li><a href="https://twitter.com/bootcamptofaang" class="dtr-twitter" style="color: white;"></a></li>
                        <li><a href="https://shawncharles.com/medium"> <i class="fab fa-medium"></i> </a></li>
                        <li><a href="https://shawncharles.com/hashnode"> <i class="fab fa-hubspot"></i> </a></li>
                        <li><a href="https://shawncharles.com/blogger"> <i class="fab fa-blogger"></i> </a></li>
                        </ul>
                    </div>
                </div>
                <!-- copyright row ends -->

            </div>
        </footer>
        <!-- footer ends
================================================== -->

    </div>
    <!-- == content section ends == -->

</div>
<!-- #dtr-wrapper ends -->
<!-- JS FILES -->
<script src="assets/js/jquery.min.js" type="text/javascript" ></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.easing.js" type="text/javascript"></script>
<script src="assets/js/swiper.min.js" type="text/javascript"></script>
<script src="assets/js/venobox.min.js" type="text/javascript"></script>
<script src="assets/js/select2.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.form.js" type="text/javascript"></script>
<script src="assets/js/wow.min.js" type="text/javascript"></script>
<script src="assets/js/custom.js" type="text/javascript"></script>
<script>
	// wow animations
	if( $(window).outerWidth() >= 767 ) {
		new WOW().init({
			mobile: false,
		});
	}
</script>
</body>
</html>
